@charset "utf-8";

._panel {
	background: var(--panel);
	border-radius: var(--radius);
	//border: var(--panelBorder);
	box-shadow: var(--panelShadow);
	overflow: hidden;
}

._card {
	@extend ._panel;

	> ._title {
		margin: 0;
		padding: 22px 32px;
		font-size: 1em;
		border-bottom: solid 1px var(--panelHeaderDivider);
		font-weight: bold;
		background: var(--panelHeaderBg);
		color: var(--panelHeaderFg);

		@media (max-width: 500px) {
			padding: 16px;
			font-size: 1em;
		}
	}

	> ._content {
		padding: 32px;

		@media (max-width: 500px) {
			padding: 16px;
		}

		&._noPad {
			padding: 0 !important;
		}

		& + ._content {
			border-top: solid 1px var(--divider);
		}
	}

	> ._footer {
		border-top: solid 1px var(--divider);
		padding: 24px 32px;

		@media (max-width: 500px) {
			padding: 16px;
		}
	}
}
